 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 605px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 75px auto 0;
}

.u-section-1 .u-line-1 {
  width: 987px;
  transform-origin: right center 0px;
  margin: 34px auto 0;
}

.u-section-1 .u-form-1 {
  height: 354px;
  margin: 21px 69px 60px 95px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-label-11 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-label-12 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
}

.u-section-1 .u-label-13 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-label-14 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-label-15 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-16 {
  margin-left: 0;
}

.u-section-1 .u-label-16 {
  font-size: 0.875rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    width: 940px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 81px;
    margin-right: -11px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-top: 28px;
  }

  .u-section-1 .u-form-1 {
    height: 472px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-label-1 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-label-2 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-label-3 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-label-4 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-label-5 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-label-6 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-label-7 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-label-8 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-label-9 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-label-10 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-label-11 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-label-12 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-label-13 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-label-14 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-label-15 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-label-16 {
    font-size: 0.75rem;
  }
}