 .u-section-1 {
  min-height: 760px;
}

.u-section-1 .u-group-1 {
  background-image: none;
  min-height: 760px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 78px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 565px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 203px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  width: 203px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 0.875rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 318px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  width: 203px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 0.875rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 649px;
  }

  .u-section-1 .u-group-1 {
    min-height: 648px;
    height: auto;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 466px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 226px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-2 {
    width: 133px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 226px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-4 {
    width: 133px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 226px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-6 {
    width: 133px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1071px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1596px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1597px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}