 .u-section-1 {
  min-height: 2542px;
}

.u-section-1 .u-group-1 {
  background-image: none;
  min-height: 2542px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 78px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 2290px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 11px;
}

.u-section-1 .u-image-1 {
  height: 318px;
  margin: 0 auto 0 19px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  margin: 20px 10px 0;
}

.u-section-1 .u-text-2 {
  width: 203px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  width: 203px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 11px;
}

.u-section-1 .u-image-2 {
  height: 318px;
  margin: 0 auto 0 19px;
}

.u-section-1 .u-text-4 {
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  margin: 20px 10px 0;
}

.u-section-1 .u-text-5 {
  width: 203px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  width: 203px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 0.875rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 11px;
}

.u-section-1 .u-image-3 {
  height: 318px;
  margin: 0 auto 0 19px;
}

.u-section-1 .u-text-7 {
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  margin: 20px 10px 0;
}

.u-section-1 .u-text-8 {
  width: 203px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  width: 203px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 0.875rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 11px;
}

.u-section-1 .u-image-4 {
  height: 318px;
  margin: 0 auto 0 19px;
}

.u-section-1 .u-text-10 {
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  margin: 20px 10px 0;
}

.u-section-1 .u-text-11 {
  width: 203px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  width: 203px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 0.875rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 11px;
}

.u-section-1 .u-image-5 {
  height: 318px;
  margin: 0 auto 0 19px;
}

.u-section-1 .u-text-13 {
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  margin: 20px 10px 0;
}

.u-section-1 .u-text-14 {
  width: 203px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  width: 203px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 0.875rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 11px;
}

.u-section-1 .u-image-6 {
  height: 318px;
  margin: 0 auto 0 19px;
}

.u-section-1 .u-text-16 {
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  margin: 20px 10px 0;
}

.u-section-1 .u-text-17 {
  width: 203px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  width: 203px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-size: 0.875rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 11px;
}

.u-section-1 .u-image-7 {
  height: 318px;
  margin: 0 auto 0 19px;
}

.u-section-1 .u-text-19 {
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  margin: 20px 10px 0;
}

.u-section-1 .u-text-20 {
  width: 203px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  width: 203px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 0.875rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 11px;
}

.u-section-1 .u-image-8 {
  height: 318px;
  margin: 0 auto 0 19px;
}

.u-section-1 .u-text-22 {
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  margin: 20px 10px 0;
}

.u-section-1 .u-text-23 {
  width: 203px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  width: 203px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-size: 0.875rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 11px;
}

.u-section-1 .u-image-9 {
  height: 318px;
  margin: 0 auto 0 19px;
}

.u-section-1 .u-text-25 {
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  margin: 20px 10px 0;
}

.u-section-1 .u-text-26 {
  width: 203px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  width: 203px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  font-size: 0.875rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 11px;
}

.u-section-1 .u-image-10 {
  height: 318px;
  margin: 0 auto 0 19px;
}

.u-section-1 .u-text-28 {
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  margin: 20px 10px 0;
}

.u-section-1 .u-text-29 {
  width: 203px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  width: 203px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  font-size: 0.875rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 11px;
}

.u-section-1 .u-image-11 {
  height: 318px;
  margin: 0 auto 0 19px;
}

.u-section-1 .u-text-31 {
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  margin: 20px 10px 0;
}

.u-section-1 .u-text-32 {
  width: 203px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-33 {
  font-weight: 700;
  width: 203px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  font-size: 0.875rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 11px;
}

.u-section-1 .u-image-12 {
  height: 318px;
  margin: 0 auto 0 19px;
}

.u-section-1 .u-text-34 {
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  margin: 20px 10px 0;
}

.u-section-1 .u-text-35 {
  width: 203px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-36 {
  font-weight: 700;
  width: 203px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  font-size: 0.875rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 649px;
  }

  .u-section-1 .u-group-1 {
    min-height: 648px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 1888px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 226px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-3 {
    width: 133px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 226px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-6 {
    width: 133px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 226px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-9 {
    width: 133px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 226px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-12 {
    width: 133px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-5 {
    height: 226px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-15 {
    width: 133px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-6 {
    height: 226px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-18 {
    width: 133px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-7 {
    height: 226px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-21 {
    width: 133px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-8 {
    height: 226px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-24 {
    width: 133px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-9 {
    height: 226px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-27 {
    width: 133px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-10 {
    height: 226px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-30 {
    width: 133px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-11 {
    height: 226px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-31 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-33 {
    width: 133px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-12 {
    height: 226px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-34 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-36 {
    width: 133px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 3254px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-28 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-31 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-34 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1479px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1480px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}