 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1418px;
}

.u-section-1 .u-group-1 {
  width: 798px;
<<<<<<< HEAD
  min-height: 1047px;
  background-image: none;
  height: auto;
=======
  min-height: 1370px;
  background-image: none;
>>>>>>> 1ca4fdfc7fce23d26bde36ac6ca4bb318dc03527
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0 15px 0 0;
}

.u-section-1 .u-form-1 {
  height: 422px;
<<<<<<< HEAD
  margin: 20px 25px 0 0;
=======
  margin: 45px 25px 0 0;
>>>>>>> 1ca4fdfc7fce23d26bde36ac6ca4bb318dc03527
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-input-1 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-input-2 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 1.25rem;
}

.u-section-1 .u-input-3 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 1.25rem;
}

.u-section-1 .u-input-4 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-size: 1.25rem;
}

.u-section-1 .u-input-5 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-size: 1.25rem;
}

.u-section-1 .u-input-6 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-size: 1.25rem;
}

.u-section-1 .u-input-7 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-size: 1.25rem;
}

.u-section-1 .u-input-8 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-label-9 {
  font-size: 1.25rem;
}

.u-section-1 .u-input-9 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 100%;
  background-image: none;
  border-style: none;
  padding: 16px 30px 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1298px;
<<<<<<< HEAD
  }

  .u-section-1 .u-group-1 {
    width: 719px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

=======
  }

  .u-section-1 .u-group-1 {
    width: 719px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

>>>>>>> 1ca4fdfc7fce23d26bde36ac6ca4bb318dc03527
  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1531px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 70px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-1 .u-label-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-input-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-label-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-input-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-label-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-input-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-label-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-input-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-label-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-input-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-label-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-input-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-label-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-input-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-label-8 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-input-8 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-label-9 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-input-9 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-1 .u-group-1 {
    width: 512px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-label-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-input-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-input-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-input-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-4 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-input-4 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-5 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-input-5 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-6 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-input-6 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-7 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-input-7 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-8 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-input-8 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-9 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-input-9 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1273px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1120px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
  }
}